port 1194
proto udp
dev tap # we expect that {{ openvpn_server_if_name }} is created

server-bridge {{ openvpn_server_bridge }}

{% for push_item in openvpn_server_push_items %}
push "{{ push_item }}"
{% endfor %}

ca /usr/local/share/easy-rsa/pki/ca.crt
cert /usr/local/share/easy-rsa/pki/issued/{{ inventory_hostname }}.crt
key /usr/local/share/easy-rsa/pki/private/{{ inventory_hostname }}.key
dh /usr/local/share/easy-rsa/pki/dh.pem
ifconfig-pool-persist /var/tmp/openvpn-pool.txt

# Needed to disable this to run openvpn_shutdown.sh:
#user nobody
#group nobody
persist-key
persist-tun
keepalive 20 60
cipher AES-256-CBC
data-ciphers AES-256-CBC
verb 3
mute 20

script-security 2
up /usr/local/etc/openvpn/openvpn_startup.sh
down /usr/local/etc/openvpn/openvpn_shutdown.sh
