Log notice syslog
RunAsDaemon 1
DataDirectory {{ tor_datadir }}

SocksPort {{ tor_socks_port }}

{% if tor_socks_port != "" %}
SocksPolicy {{tor_socks_policy }}
{% endif %}

ORPort {{ tor_or_port }}

DirPort {{ tor_dir_port }}

{% if tor_public_address != "" %}
Address {{ tor_public_address }}
{% endif %}

Nickname {{ tor_nickname }}

ExitPolicy {{ tor_exit_policy }}
