worker_processes                1;
error_log                       /usr/local/www/logs/error.log error;

events {
    worker_connections          1024;
}
 
http {
    client_max_body_size        20M;
    include                     mime.types;
    default_type                text/plain;
    server_tokens               off;

    server {
        listen                  {{ ansible_facts.default_ipv4.address }}:80 default;

        access_log              /usr/local/www/logs/access.log  combined;

        root                    /usr/local/www/brobye_dk;

        index                   index.php;
        location ~ \.php$ {
                try_files       $uri =404;
                include         fastcgi_params;
                fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param   PHP_ADMIN_VALUE "open_basedir=$document_root:/tmp";
                #fastcgi_pass    unix:/var/php/php-fpm.socket;
                fastcgi_pass    {{ ansible_facts.default_ipv4.address }}:7777;
        }
    }
}
